In [38]:
%pip install pandas
%pip install openpyxl
%pip install scikit-learn

Requirement already satisfied: pandas in ./.venv/lib/python3.14/site-packages (3.0.1)
Requirement already satisfied: numpy>=2.3.3 in ./.venv/lib/python3.14/site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.14/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.14/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: openpyxl in ./.venv/lib/python3.14/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in ./.venv/lib/python3.14/site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.
Collecting scikit-learn
  Downloading scikit_learn-1.8.0-cp314-cp314-macosx_12_0_arm64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.24.1 in ./.venv/lib/python3.14/site-packages (from scikit-learn) (2.4.2)
Collecting scipy>=1.10.0 (from scikit-learn)
  Downloading scipy-1.17.0-cp314-cp314-macosx_14_0_arm64.whl.metadata (62 kB)
Collecting joblib>=1.3.0 (from scikit-learn)
  Downloading joblib-1.5.3-py3-none-any.whl.metadata (5.5 kB)
Collecting threadpoolctl>=3.2.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.8.0-cp314-cp314-macosx_12_0_arm64.whl (8.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.1/8.1 MB 16.2 MB/s  0:00:00 eta 0:00:01
Downloading joblib-1.5.3-py3-none-any.whl (309 kB)
Downloading scipy-1.17.0-cp314-cp314-macosx_14_0_arm64.whl (20.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 20.1/20.1 MB 18.3 MB/s  0:00:01 eta 0:00:01
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 [scikit-learn][0m [scikit-learn]
Successfully installed joblib-1.5.3 scikit-learn-1.8.0 scipy-1.17.0 threadpoolctl-3.6.0
Note: you may need to restart the kernel to use updated packages.

In [39]:
# importing libraries
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)  
from sklearn.model_selection import train_test_split

# Data Loading and Initial Exploration

In [27]:
df1 = pd.read_excel('Dataset/Internal_Bank_Dataset.xlsx')
df1.head()

,PROSPECTID,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,Total_TL_opened_L12M,Tot_TL_closed_L12M,pct_tl_open_L12M,pct_tl_closed_L12M,Tot_Missed_Pmnt,Auto_TL,CC_TL,Consumer_TL,Gold_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,Other_TL,Age_Oldest_TL,Age_Newest_TL
0,1,5,4,1,0,0,0.000,0.0,0.200,0.800,0,0,0.00,0.0,0,0,0,0,1,0,4,1,4,0,72,18
1,2,1,0,1,0,0,0.000,0.0,1.000,0.000,1,0,1.00,0.0,0,0,0,1,0,0,0,0,1,0,7,7
2,3,8,0,8,1,0,0.125,0.0,1.000,0.000,2,0,0.25,0.0,1,1,0,6,1,0,0,2,6,0,47,2
3,4,1,0,1,1,0,1.000,0.0,1.000,0.000,1,0,1.00,0.0,1,0,0,0,0,0,0,0,1,1,5,5
4,5,3,2,1,0,0,0.000,0.0,0.333,0.667,0,0,0.00,0.0,0,1,0,0,0,0,0,3,0,2,131,32

In [28]:
df2 = pd.read_excel('Dataset/External_Cibil_Dataset.xlsx')
df2.head()

,PROSPECTID,time_since_recent_payment,time_since_first_deliquency,time_since_recent_deliquency,num_times_delinquent,max_delinquency_level,max_recent_level_of_deliq,num_deliq_6mts,num_deliq_12mts,num_deliq_6_12mts,max_deliq_6mts,max_deliq_12mts,num_times_30p_dpd,num_times_60p_dpd,num_std,num_std_6mts,num_std_12mts,num_sub,num_sub_6mts,num_sub_12mts,num_dbt,num_dbt_6mts,num_dbt_12mts,num_lss,num_lss_6mts,num_lss_12mts,recent_level_of_deliq,tot_enq,CC_enq,CC_enq_L6m,CC_enq_L12m,PL_enq,PL_enq_L6m,PL_enq_L12m,time_since_recent_enq,enq_L12m,enq_L6m,enq_L3m,MARITALSTATUS,EDUCATION,AGE,GENDER,NETMONTHLYINCOME,Time_With_Curr_Empr,pct_of_active_TLs_ever,pct_opened_TLs_L6m_of_L12m,pct_currentBal_all_TL,CC_utilization,CC_Flag,PL_utilization,PL_Flag,pct_PL_enq_L6m_of_L12m,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,max_unsec_exposure_inPct,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
0,1,549,35,15,11,29,29,0,0,0,-99999,-99999,0,0,21,5,11,0,0,0,0,0,0,0,0,0,29,6,0,0,0,6,0,0,566,0,0,0,Married,12TH,48,M,51000,114,0.200,0.0,0.798,-99999.0,0,0.798,1,0.0,0.0,0.0,0.0,13.333,1,0,PL,PL,696,P2
1,2,47,-99999,-99999,0,-99999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,209,1,0,0,Single,GRADUATE,23,F,19000,50,1.000,0.0,0.370,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,0.860,0,0,ConsumerLoan,ConsumerLoan,685,P2
2,3,302,11,3,9,25,25,1,9,8,25,25,0,0,10,5,10,0,0,0,0,0,0,0,0,0,25,4,0,0,0,0,0,0,587,0,0,0,Married,SSC,40,M,18,191,1.000,0.5,0.585,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,5741.667,1,0,ConsumerLoan,others,693,P2
3,4,-99999,-99999,-99999,0,-99999,0,0,0,0,-99999,-99999,0,0,5,4,5,0,0,0,0,0,0,0,0,0,0,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,Married,SSC,34,M,10000,246,1.000,1.0,0.990,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,9.900,0,0,others,others,673,P2
4,5,583,-99999,-99999,0,-99999,0,0,0,0,-99999,-99999,0,0,53,4,16,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,3951,0,0,0,Married,POST-GRADUATE,48,M,15000,75,0.333,0.0,0.000,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,-99999.000,0,0,AL,AL,753,P1

In [33]:
print(df1.shape)
print(df2.shape)

(51336, 26)
(51336, 62)

# Merging the bank and cibl datasets

In [5]:
# Merge the two dataframes, inner join so that no nulls are present
df = pd.merge(df1, df2, how='inner', left_on=['PROSPECTID'], right_on=['PROSPECTID'])

In [6]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 51336 entries, 0 to 51335
Data columns (total 87 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PROSPECTID                    51336 non-null  int64
 1   Total_TL                      51336 non-null  int64
 2   Tot_Closed_TL                 51336 non-null  int64
 3   Tot_Active_TL                 51336 non-null  int64
 4   Total_TL_opened_L6M           51336 non-null  int64
 5   Tot_TL_closed_L6M             51336 non-null  int64
 6   pct_tl_open_L6M               51336 non-null  float64
 7   pct_tl_closed_L6M             51336 non-null  float64
 8   pct_active_tl                 51336 non-null  float64
 9   pct_closed_tl                 51336 non-null  float64
 10  Total_TL_opened_L12M          51336 non-null  int64
 11  Tot_TL_closed_L12M            51336 non-null  int64
 12  pct_tl_open_L12M              51336 non-null  float64
 13  pct_tl_closed_L12M            51336 non-null  float64
 14  Tot_Missed_Pmnt               51336 non-null  int64
 15  Auto_TL                       51336 non-null  int64
 16  CC_TL                         51336 non-null  int64
 17  Consumer_TL                   51336 non-null  int64
 18  Gold_TL                       51336 non-null  int64
 19  Home_TL                       51336 non-null  int64
 20  PL_TL                         51336 non-null  int64
 21  Secured_TL                    51336 non-null  int64
 22  Unsecured_TL                  51336 non-null  int64
 23  Other_TL                      51336 non-null  int64
 24  Age_Oldest_TL                 51336 non-null  int64
 25  Age_Newest_TL                 51336 non-null  int64
 26  time_since_recent_payment     51336 non-null  int64
 27  time_since_first_deliquency   51336 non-null  int64
 28  time_since_recent_deliquency  51336 non-null  int64
 29  num_times_delinquent          51336 non-null  int64
 30  max_delinquency_level         51336 non-null  int64
 31  max_recent_level_of_deliq     51336 non-null  int64
 32  num_deliq_6mts                51336 non-null  int64
 33  num_deliq_12mts               51336 non-null  int64
 34  num_deliq_6_12mts             51336 non-null  int64
 35  max_deliq_6mts                51336 non-null  int64
 36  max_deliq_12mts               51336 non-null  int64
 37  num_times_30p_dpd             51336 non-null  int64
 38  num_times_60p_dpd             51336 non-null  int64
 39  num_std                       51336 non-null  int64
 40  num_std_6mts                  51336 non-null  int64
 41  num_std_12mts                 51336 non-null  int64
 42  num_sub                       51336 non-null  int64
 43  num_sub_6mts                  51336 non-null  int64
 44  num_sub_12mts                 51336 non-null  int64
 45  num_dbt                       51336 non-null  int64
 46  num_dbt_6mts                  51336 non-null  int64
 47  num_dbt_12mts                 51336 non-null  int64
 48  num_lss                       51336 non-null  int64
 49  num_lss_6mts                  51336 non-null  int64
 50  num_lss_12mts                 51336 non-null  int64
 51  recent_level_of_deliq         51336 non-null  int64
 52  tot_enq                       51336 non-null  int64
 53  CC_enq                        51336 non-null  int64
 54  CC_enq_L6m                    51336 non-null  int64
 55  CC_enq_L12m                   51336 non-null  int64
 56  PL_enq                        51336 non-null  int64
 57  PL_enq_L6m                    51336 non-null  int64
 58  PL_enq_L12m                   51336 non-null  int64
 59  time_since_recent_enq         51336 non-null  int64
 60  enq_L12m                      51336 non-null  int64
 61  enq_L6m                       51336 non-null  int64
 62  enq_L3m                       51336 non-null  int64
 63  MARITALSTATUS                 51336 non-null  str
 64  EDUCATION                     51336 non-null  str
 65  AGE                           51336 non-null  int64
 66  GENDER                        51336 non-null  str
 67  NETMONTHLYINCOME              51336 non-null  int64
 68  Time_With_Curr_Empr           51336 non-null  int64
 69  pct_of_active_TLs_ever        51336 non-null  float64
 70  pct_opened_TLs_L6m_of_L12m    51336 non-null  float64
 71  pct_currentBal_all_TL         51336 non-null  float64
 72  CC_utilization                51336 non-null  float64
 73  CC_Flag                       51336 non-null  int64
 74  PL_utilization                51336 non-null  float64
 75  PL_Flag                       51336 non-null  int64
 76  pct_PL_enq_L6m_of_L12m        51336 non-null  float64
 77  pct_CC_enq_L6m_of_L12m        51336 non-null  float64
 78  pct_PL_enq_L6m_of_ever        51336 non-null  float64
 79  pct_CC_enq_L6m_of_ever        51336 non-null  float64
 80  max_unsec_exposure_inPct      51336 non-null  float64
 81  HL_Flag                       51336 non-null  int64
 82  GL_Flag                       51336 non-null  int64
 83  last_prod_enq2                51336 non-null  str
 84  first_prod_enq2               51336 non-null  str
 85  Credit_Score                  51336 non-null  int64
 86  Approved_Flag                 51336 non-null  str
dtypes: float64(16), int64(65), str(6)
memory usage: 34.1 MB

# Data Preprocessing

## Encoding Categorical Variables

In [8]:
col = ["MARITALSTATUS","EDUCATION","GENDER","last_prod_enq2","first_prod_enq2","CC_Flag","PL_Flag","HL_Flag","GL_Flag"]

df = pd.get_dummies(df, columns=col, drop_first=True)

In [11]:
df.head()

,PROSPECTID,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,Total_TL_opened_L12M,Tot_TL_closed_L12M,pct_tl_open_L12M,pct_tl_closed_L12M,Tot_Missed_Pmnt,Auto_TL,CC_TL,Consumer_TL,Gold_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,Other_TL,Age_Oldest_TL,Age_Newest_TL,time_since_recent_payment,time_since_first_deliquency,time_since_recent_deliquency,num_times_delinquent,max_delinquency_level,max_recent_level_of_deliq,num_deliq_6mts,num_deliq_12mts,num_deliq_6_12mts,max_deliq_6mts,max_deliq_12mts,num_times_30p_dpd,num_times_60p_dpd,num_std,num_std_6mts,num_std_12mts,num_sub,num_sub_6mts,num_sub_12mts,num_dbt,num_dbt_6mts,num_dbt_12mts,num_lss,num_lss_6mts,num_lss_12mts,recent_level_of_deliq,tot_enq,CC_enq,CC_enq_L6m,CC_enq_L12m,PL_enq,PL_enq_L6m,PL_enq_L12m,time_since_recent_enq,enq_L12m,enq_L6m,enq_L3m,AGE,NETMONTHLYINCOME,Time_With_Curr_Empr,pct_of_active_TLs_ever,pct_opened_TLs_L6m_of_L12m,pct_currentBal_all_TL,CC_utilization,PL_utilization,pct_PL_enq_L6m_of_L12m,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,max_unsec_exposure_inPct,Credit_Score,Approved_Flag,MARITALSTATUS_Single,EDUCATION_GRADUATE,EDUCATION_OTHERS,EDUCATION_POST-GRADUATE,EDUCATION_PROFESSIONAL,EDUCATION_SSC,EDUCATION_UNDER GRADUATE,GENDER_M,last_prod_enq2_CC,last_prod_enq2_ConsumerLoan,last_prod_enq2_HL,last_prod_enq2_PL,last_prod_enq2_others,first_prod_enq2_CC,first_prod_enq2_ConsumerLoan,first_prod_enq2_HL,first_prod_enq2_PL,first_prod_enq2_others,CC_Flag_1,PL_Flag_1,HL_Flag_1,GL_Flag_1
0,1,5,4,1,0,0,0.000,0.0,0.200,0.800,0,0,0.00,0.0,0,0,0,0,1,0,4,1,4,0,72,18,549,35,15,11,29,29,0,0,0,-99999,-99999,0,0,21,5,11,0,0,0,0,0,0,0,0,0,29,6,0,0,0,6,0,0,566,0,0,0,48,51000,114,0.200,0.0,0.798,-99999.0,0.798,0.0,0.0,0.0,0.0,13.333,696,P2,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,True,False,False,True,True,False
1,2,1,0,1,0,0,0.000,0.0,1.000,0.000,1,0,1.00,0.0,0,0,0,1,0,0,0,0,1,0,7,7,47,-99999,-99999,0,-99999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,209,1,0,0,23,19000,50,1.000,0.0,0.370,-99999.0,-99999.000,0.0,0.0,0.0,0.0,0.860,685,P2,True,True,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False
2,3,8,0,8,1,0,0.125,0.0,1.000,0.000,2,0,0.25,0.0,1,1,0,6,1,0,0,2,6,0,47,2,302,11,3,9,25,25,1,9,8,25,25,0,0,10,5,10,0,0,0,0,0,0,0,0,0,25,4,0,0,0,0,0,0,587,0,0,0,40,18,191,1.000,0.5,0.585,-99999.0,-99999.000,0.0,0.0,0.0,0.0,5741.667,693,P2,False,False,False,False,False,True,False,True,False,True,False,False,False,False,False,False,False,True,False,False,True,False
3,4,1,0,1,1,0,1.000,0.0,1.000,0.000,1,0,1.00,0.0,1,0,0,0,0,0,0,0,1,1,5,5,-99999,-99999,-99999,0,-99999,0,0,0,0,-99999,-99999,0,0,5,4,5,0,0,0,0,0,0,0,0,0,0,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,34,10000,246,1.000,1.0,0.990,-99999.0,-99999.000,0.0,0.0,0.0,0.0,9.900,673,P2,False,False,False,False,False,True,False,True,False,False,False,False,True,False,False,False,False,True,False,False,False,False
4,5,3,2,1,0,0,0.000,0.0,0.333,0.667,0,0,0.00,0.0,0,1,0,0,0,0,0,3,0,2,131,32,583,-99999,-99999,0,-99999,0,0,0,0,-99999,-99999,0,0,53,4,16,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,3951,0,0,0,48,15000,75,0.333,0.0,0.000,-99999.0,-99999.000,0.0,0.0,0.0,0.0,-99999.000,753,P1,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

# Data Cleaning

In [34]:
# handling duplicates
df.drop_duplicates(inplace=True)

In [ ]:
# handling null values (dataset considers -99999 as null)
df.replace(-99999, np.nan, inplace=True)

,PROSPECTID,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,Total_TL_opened_L12M,Tot_TL_closed_L12M,pct_tl_open_L12M,pct_tl_closed_L12M,Tot_Missed_Pmnt,Auto_TL,CC_TL,Consumer_TL,Gold_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,Other_TL,Age_Oldest_TL,Age_Newest_TL,time_since_recent_payment,time_since_first_deliquency,time_since_recent_deliquency,num_times_delinquent,max_delinquency_level,max_recent_level_of_deliq,num_deliq_6mts,num_deliq_12mts,num_deliq_6_12mts,max_deliq_6mts,max_deliq_12mts,num_times_30p_dpd,num_times_60p_dpd,num_std,num_std_6mts,num_std_12mts,num_sub,num_sub_6mts,num_sub_12mts,num_dbt,num_dbt_6mts,num_dbt_12mts,num_lss,num_lss_6mts,num_lss_12mts,recent_level_of_deliq,tot_enq,CC_enq,CC_enq_L6m,CC_enq_L12m,PL_enq,PL_enq_L6m,PL_enq_L12m,time_since_recent_enq,enq_L12m,enq_L6m,enq_L3m,AGE,NETMONTHLYINCOME,Time_With_Curr_Empr,pct_of_active_TLs_ever,pct_opened_TLs_L6m_of_L12m,pct_currentBal_all_TL,CC_utilization,PL_utilization,pct_PL_enq_L6m_of_L12m,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,max_unsec_exposure_inPct,Credit_Score,Approved_Flag,MARITALSTATUS_Single,EDUCATION_GRADUATE,EDUCATION_OTHERS,EDUCATION_POST-GRADUATE,EDUCATION_PROFESSIONAL,EDUCATION_SSC,EDUCATION_UNDER GRADUATE,GENDER_M,last_prod_enq2_CC,last_prod_enq2_ConsumerLoan,last_prod_enq2_HL,last_prod_enq2_PL,last_prod_enq2_others,first_prod_enq2_CC,first_prod_enq2_ConsumerLoan,first_prod_enq2_HL,first_prod_enq2_PL,first_prod_enq2_others,CC_Flag_1,PL_Flag_1,HL_Flag_1,GL_Flag_1
0,1,5,4,1,0,0,0.000,0.00,0.200,0.800,0,0,0.000,0.00,0,0,0,0,1,0,4,1,4,0,72.0,18.0,549.0,35.0,15.0,11,29.0,29,0,0,0,NaN,NaN,0,0,21,5,11,0,0,0,0,0,0,0,0,0,29,6.0,0.0,0.0,0.0,6.0,0.0,0.0,566.0,0.0,0.0,0.0,48,51000,114,0.200,0.0,0.798,NaN,0.798,0.0,0.0,0.0,0.0,13.333,696,P2,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,True,False,False,True,True,False
1,2,1,0,1,0,0,0.000,0.00,1.000,0.000,1,0,1.000,0.00,0,0,0,1,0,0,0,0,1,0,7.0,7.0,47.0,NaN,NaN,0,NaN,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,209.0,1.0,0.0,0.0,23,19000,50,1.000,0.0,0.370,NaN,NaN,0.0,0.0,0.0,0.0,0.860,685,P2,True,True,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False
2,3,8,0,8,1,0,0.125,0.00,1.000,0.000,2,0,0.250,0.00,1,1,0,6,1,0,0,2,6,0,47.0,2.0,302.0,11.0,3.0,9,25.0,25,1,9,8,25.0,25.0,0,0,10,5,10,0,0,0,0,0,0,0,0,0,25,4.0,0.0,0.0,0.0,0.0,0.0,0.0,587.0,0.0,0.0,0.0,40,18,191,1.000,0.5,0.585,NaN,NaN,0.0,0.0,0.0,0.0,5741.667,693,P2,False,False,False,False,False,True,False,True,False,True,False,False,False,False,False,False,False,True,False,False,True,False
3,4,1,0,1,1,0,1.000,0.00,1.000,0.000,1,0,1.000,0.00,1,0,0,0,0,0,0,0,1,1,5.0,5.0,NaN,NaN,NaN,0,NaN,0,0,0,0,NaN,NaN,0,0,5,4,5,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34,10000,246,1.000,1.0,0.990,NaN,NaN,0.0,0.0,0.0,0.0,9.900,673,P2,False,False,False,False,False,True,False,True,False,False,False,False,True,False,False,False,False,True,False,False,False,False
4,5,3,2,1,0,0,0.000,0.00,0.333,0.667,0,0,0.000,0.00,0,1,0,0,0,0,0,3,0,2,131.0,32.0,583.0,NaN,NaN,0,NaN,0,0,0,0,NaN,NaN,0,0,53,4,16,0,0,0,0,0,0,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3951.0,0.0,0.0,0.0,48,15000,75,0.333,0.0,0.000,NaN,NaN,0.0,0.0,0.0,0.0,NaN,753,P1,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51331,51332,3,0,3,1,0,0.333,0.00,1.000,0.000,1,0,0.333,0.00,0,0,0,2,0,0,0,0,3,1,24.0,5.0,15.0,24.0,23.0,2,24.0,24,0,0,0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,24,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,1.0,43,18500,249,1.000,1.0,0.230,NaN,NaN,0.0,0.0,0.0,0.0,1.661,650,P4,False,False,False,False,False,False,False,True,False,True,False,False,False,False,True,False,False,False,False,False,False,False
51332,51333,4,2,2,0,1,0.000,0.25,0.500,0.500,2,1,0.500,0.25,0,2,0,2,0,0,0,2,2,0,74.0,7.0,57.0,NaN,NaN,0,NaN,0,0,0,0,0.0,0.0,0,0,6,4,6,0,0,0,0,0,0,0,0,0,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,203.0,1.0,0.0,0.0,31,25000,186,0.500,0.0,0.660,NaN,NaN,0.0,0.0,0.0,0.0,0.520,702,P1,False,False,False,False,False,True,False,True,False,False,False,False,True,False,False,False,False,True,False,False,False,False
51333,51334,2,1,1,1,1,0.500,0.50,0.500,0.500,2,1,1.000,0.50,0,0,0,2,0,0,0,0,2,0,9.0,5.0,32.0,NaN,NaN,0,NaN,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6.0,0.0,0.0,0.0,2.0,2.0,2.0,1.0,5.0,4.0,2.0,28,18000,66,0.500,0.5,0.428,NaN,NaN,1.0,0.0,1.0,0.0,0.567,661,P3,False,False,False,False,False,True,False,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False
51334,51335,2,1,1,0,0,0.000,0.00,0.500,0.500,1,1,0.500,0.50,0,0,0,2,0,0,0,0,2,0,15.0,8.0,58.0,NaN,NaN,0,NaN,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,242.0,1.0,0.0,0.0,25,12802,54,0.500,0.0,0.143,NaN,NaN,0.0,0.0,0.0,0.0,1.202,686,P2,True,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
51335,51336,1,0,1,0,0,0.000,0.00,1.000,0.000,0,0,0.000,0.00,0,1,0,0,0,0,0,1,0,0,20.0,20.0,74.0,NaN,NaN,0,NaN,0,0,0,0,NaN,NaN,0,0,18,4,10,0,0,0,0,0,0,0,0,0,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,1.0,1.0,1.0,25,16000,102,1.000,0.0,0.333,NaN,NaN,0.0,0.0,0.0,0.0,NaN,681,P2,False,False,False,False,False,True,False,True,False,False,False,False,True,False,False,False,False,True,False,False,False,False

In [35]:
# There are no missing values so we dont need to do imputation

## Target variable conversion

Converting target into usable binary value

In [16]:
df["Approved_Flag"].value_counts()

Approved_Flag
P2    32199
P3     7452
P4     5882
P1     5803
Name: count, dtype: int64

In [17]:
# priority 1, 2 = low risk, safe to approve
# priority 3, 4 = high risk, not safe to approve

df["Approved_Flag_binary"] = df["Approved_Flag"].map({
    "P1": 0,
    "P2": 0,
    "P3": 1,
    "P4": 1
})

## Final Feature Matrix

In [40]:
X = df.drop(columns=["PROSPECTID", "Approved_Flag", "Approved_Flag_binary"])
y = df["Approved_Flag_binary"]

## Train-Test Split

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Exploratory Data Analysis (EDA)

## Class Distribution

## Correlation Analysis

## Key Risk Indicators

# Feature Engineering & Scaling

# Model 1: Logistic Regression

## Model Training

## Model Evaluation

## Coefficient Interpretation

# Model 2: Decision Tree

## Model Training

## Model Evaluation

## Feature Importance

# Model Comparison