In [2]:
%pip install pandas
%pip install openpyxl

Requirement already satisfied: pandas in ./.venv/lib/python3.14/site-packages (3.0.1)
Requirement already satisfied: numpy>=2.3.3 in ./.venv/lib/python3.14/site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.14/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.14/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 26.0 -> 26.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: openpyxl in ./.venv/lib/python3.14/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in ./.venv/lib/python3.14/site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 26.0 -> 26.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

# Step 1 : Importing the required libraries and Datasets to the notebook

In [3]:
import pandas as pd

In [4]:
df1 = pd.read_excel('Dataset/Internal_Bank_Dataset.xlsx')
df1.head()

,PROSPECTID,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,...,CC_TL,Consumer_TL,Gold_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,Other_TL,Age_Oldest_TL,Age_Newest_TL
0,1,5,4,1,0,0,0.000,0.0,0.200,0.800,...,0,0,1,0,4,1,4,0,72,18
1,2,1,0,1,0,0,0.000,0.0,1.000,0.000,...,0,1,0,0,0,0,1,0,7,7
2,3,8,0,8,1,0,0.125,0.0,1.000,0.000,...,0,6,1,0,0,2,6,0,47,2
3,4,1,0,1,1,0,1.000,0.0,1.000,0.000,...,0,0,0,0,0,0,1,1,5,5
4,5,3,2,1,0,0,0.000,0.0,0.333,0.667,...,0,0,0,0,0,3,0,2,131,32

In [5]:
df2 = pd.read_excel('Dataset/External_Cibil_Dataset.xlsx')
df2.head()

,PROSPECTID,time_since_recent_payment,time_since_first_deliquency,time_since_recent_deliquency,num_times_delinquent,max_delinquency_level,max_recent_level_of_deliq,num_deliq_6mts,num_deliq_12mts,num_deliq_6_12mts,...,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,max_unsec_exposure_inPct,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
0,1,549,35,15,11,29,29,0,0,0,...,0.0,0.0,0.0,13.333,1,0,PL,PL,696,P2
1,2,47,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,0.860,0,0,ConsumerLoan,ConsumerLoan,685,P2
2,3,302,11,3,9,25,25,1,9,8,...,0.0,0.0,0.0,5741.667,1,0,ConsumerLoan,others,693,P2
3,4,-99999,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,9.900,0,0,others,others,673,P2
4,5,583,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,-99999.000,0,0,AL,AL,753,P1

In [6]:
df.info()

NameError: name 'df' is not defined

# Step 2 : Merging the datasets

In [18]:
# Merge the two dataframes, inner join so that no nulls are present
df = pd.merge(df1, df2, how='inner', left_on=['PROSPECTID'], right_on=['PROSPECTID'])

In [19]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 51336 entries, 0 to 51335
Data columns (total 87 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PROSPECTID                    51336 non-null  int64
 1   Total_TL                      51336 non-null  int64
 2   Tot_Closed_TL                 51336 non-null  int64
 3   Tot_Active_TL                 51336 non-null  int64
 4   Total_TL_opened_L6M           51336 non-null  int64
 5   Tot_TL_closed_L6M             51336 non-null  int64
 6   pct_tl_open_L6M               51336 non-null  float64
 7   pct_tl_closed_L6M             51336 non-null  float64
 8   pct_active_tl                 51336 non-null  float64
 9   pct_closed_tl                 51336 non-null  float64
 10  Total_TL_opened_L12M          51336 non-null  int64
 11  Tot_TL_closed_L12M            51336 non-null  int64
 12  pct_tl_open_L12M              51336 non-null  float64
 13  pct_tl_closed_L12M            51336 non-null  float64
 14  Tot_Missed_Pmnt               51336 non-null  int64
 15  Auto_TL                       51336 non-null  int64
 16  CC_TL                         51336 non-null  int64
 17  Consumer_TL                   51336 non-null  int64
 18  Gold_TL                       51336 non-null  int64
 19  Home_TL                       51336 non-null  int64
 20  PL_TL                         51336 non-null  int64
 21  Secured_TL                    51336 non-null  int64
 22  Unsecured_TL                  51336 non-null  int64
 23  Other_TL                      51336 non-null  int64
 24  Age_Oldest_TL                 51336 non-null  int64
 25  Age_Newest_TL                 51336 non-null  int64
 26  time_since_recent_payment     51336 non-null  int64
 27  time_since_first_deliquency   51336 non-null  int64
 28  time_since_recent_deliquency  51336 non-null  int64
 29  num_times_delinquent          51336 non-null  int64
 30  max_delinquency_level         51336 non-null  int64
 31  max_recent_level_of_deliq     51336 non-null  int64
 32  num_deliq_6mts                51336 non-null  int64
 33  num_deliq_12mts               51336 non-null  int64
 34  num_deliq_6_12mts             51336 non-null  int64
 35  max_deliq_6mts                51336 non-null  int64
 36  max_deliq_12mts               51336 non-null  int64
 37  num_times_30p_dpd             51336 non-null  int64
 38  num_times_60p_dpd             51336 non-null  int64
 39  num_std                       51336 non-null  int64
 40  num_std_6mts                  51336 non-null  int64
 41  num_std_12mts                 51336 non-null  int64
 42  num_sub                       51336 non-null  int64
 43  num_sub_6mts                  51336 non-null  int64
 44  num_sub_12mts                 51336 non-null  int64
 45  num_dbt                       51336 non-null  int64
 46  num_dbt_6mts                  51336 non-null  int64
 47  num_dbt_12mts                 51336 non-null  int64
 48  num_lss                       51336 non-null  int64
 49  num_lss_6mts                  51336 non-null  int64
 50  num_lss_12mts                 51336 non-null  int64
 51  recent_level_of_deliq         51336 non-null  int64
 52  tot_enq                       51336 non-null  int64
 53  CC_enq                        51336 non-null  int64
 54  CC_enq_L6m                    51336 non-null  int64
 55  CC_enq_L12m                   51336 non-null  int64
 56  PL_enq                        51336 non-null  int64
 57  PL_enq_L6m                    51336 non-null  int64
 58  PL_enq_L12m                   51336 non-null  int64
 59  time_since_recent_enq         51336 non-null  int64
 60  enq_L12m                      51336 non-null  int64
 61  enq_L6m                       51336 non-null  int64
 62  enq_L3m                       51336 non-null  int64
 63  MARITALSTATUS                 51336 non-null  str
 64  EDUCATION                     51336 non-null  str
 65  AGE                           51336 non-null  int64
 66  GENDER                        51336 non-null  str
 67  NETMONTHLYINCOME              51336 non-null  int64
 68  Time_With_Curr_Empr           51336 non-null  int64
 69  pct_of_active_TLs_ever        51336 non-null  float64
 70  pct_opened_TLs_L6m_of_L12m    51336 non-null  float64
 71  pct_currentBal_all_TL         51336 non-null  float64
 72  CC_utilization                51336 non-null  float64
 73  CC_Flag                       51336 non-null  int64
 74  PL_utilization                51336 non-null  float64
 75  PL_Flag                       51336 non-null  int64
 76  pct_PL_enq_L6m_of_L12m        51336 non-null  float64
 77  pct_CC_enq_L6m_of_L12m        51336 non-null  float64
 78  pct_PL_enq_L6m_of_ever        51336 non-null  float64
 79  pct_CC_enq_L6m_of_ever        51336 non-null  float64
 80  max_unsec_exposure_inPct      51336 non-null  float64
 81  HL_Flag                       51336 non-null  int64
 82  GL_Flag                       51336 non-null  int64
 83  last_prod_enq2                51336 non-null  str
 84  first_prod_enq2               51336 non-null  str
 85  Credit_Score                  51336 non-null  int64
 86  Approved_Flag                 51336 non-null  str
dtypes: float64(16), int64(65), str(6)
memory usage: 34.1 MB