# Download and Import Libraries

In [1]:
%%capture
%pip install pandas
%pip install openpyxl
%pip install scikit-learn
%pip install matplotlib
%pip install seaborn

In [2]:
# importing libraries
import pandas as pd
import numpy as np
# show all rows and columns instead of truncating
pd.set_option('display.max_columns', None)
from sklearn.model_selection import train_test_split

# Load Dataset + Initial Exploration

In [3]:
df1 = pd.read_excel('Dataset/Internal_Bank_Dataset.xlsx')
df1.head()

,PROSPECTID,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,Total_TL_opened_L12M,Tot_TL_closed_L12M,pct_tl_open_L12M,pct_tl_closed_L12M,Tot_Missed_Pmnt,Auto_TL,CC_TL,Consumer_TL,Gold_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,Other_TL,Age_Oldest_TL,Age_Newest_TL
0,1,5,4,1,0,0,0.000,0.0,0.200,0.800,0,0,0.00,0.0,0,0,0,0,1,0,4,1,4,0,72,18
1,2,1,0,1,0,0,0.000,0.0,1.000,0.000,1,0,1.00,0.0,0,0,0,1,0,0,0,0,1,0,7,7
2,3,8,0,8,1,0,0.125,0.0,1.000,0.000,2,0,0.25,0.0,1,1,0,6,1,0,0,2,6,0,47,2
3,4,1,0,1,1,0,1.000,0.0,1.000,0.000,1,0,1.00,0.0,1,0,0,0,0,0,0,0,1,1,5,5
4,5,3,2,1,0,0,0.000,0.0,0.333,0.667,0,0,0.00,0.0,0,1,0,0,0,0,0,3,0,2,131,32

In [4]:
df2 = pd.read_excel('Dataset/External_Cibil_Dataset.xlsx')
df2.head()

,PROSPECTID,time_since_recent_payment,time_since_first_deliquency,time_since_recent_deliquency,num_times_delinquent,max_delinquency_level,max_recent_level_of_deliq,num_deliq_6mts,num_deliq_12mts,num_deliq_6_12mts,max_deliq_6mts,max_deliq_12mts,num_times_30p_dpd,num_times_60p_dpd,num_std,num_std_6mts,num_std_12mts,num_sub,num_sub_6mts,num_sub_12mts,num_dbt,num_dbt_6mts,num_dbt_12mts,num_lss,num_lss_6mts,num_lss_12mts,recent_level_of_deliq,tot_enq,CC_enq,CC_enq_L6m,CC_enq_L12m,PL_enq,PL_enq_L6m,PL_enq_L12m,time_since_recent_enq,enq_L12m,enq_L6m,enq_L3m,MARITALSTATUS,EDUCATION,AGE,GENDER,NETMONTHLYINCOME,Time_With_Curr_Empr,pct_of_active_TLs_ever,pct_opened_TLs_L6m_of_L12m,pct_currentBal_all_TL,CC_utilization,CC_Flag,PL_utilization,PL_Flag,pct_PL_enq_L6m_of_L12m,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,max_unsec_exposure_inPct,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
0,1,549,35,15,11,29,29,0,0,0,-99999,-99999,0,0,21,5,11,0,0,0,0,0,0,0,0,0,29,6,0,0,0,6,0,0,566,0,0,0,Married,12TH,48,M,51000,114,0.200,0.0,0.798,-99999.0,0,0.798,1,0.0,0.0,0.0,0.0,13.333,1,0,PL,PL,696,P2
1,2,47,-99999,-99999,0,-99999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,209,1,0,0,Single,GRADUATE,23,F,19000,50,1.000,0.0,0.370,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,0.860,0,0,ConsumerLoan,ConsumerLoan,685,P2
2,3,302,11,3,9,25,25,1,9,8,25,25,0,0,10,5,10,0,0,0,0,0,0,0,0,0,25,4,0,0,0,0,0,0,587,0,0,0,Married,SSC,40,M,18,191,1.000,0.5,0.585,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,5741.667,1,0,ConsumerLoan,others,693,P2
3,4,-99999,-99999,-99999,0,-99999,0,0,0,0,-99999,-99999,0,0,5,4,5,0,0,0,0,0,0,0,0,0,0,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,Married,SSC,34,M,10000,246,1.000,1.0,0.990,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,9.900,0,0,others,others,673,P2
4,5,583,-99999,-99999,0,-99999,0,0,0,0,-99999,-99999,0,0,53,4,16,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,3951,0,0,0,Married,POST-GRADUATE,48,M,15000,75,0.333,0.0,0.000,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,-99999.000,0,0,AL,AL,753,P1

In [5]:
print(df1.shape)
print(df2.shape)

(51336, 26)
(51336, 62)

## Merging the bank and cibl datasets

In [25]:
# Merge the two dataframes, inner join so that no nulls are present
df = pd.merge(df1, df2, how='inner', left_on=['PROSPECTID'], right_on=['PROSPECTID'])

df.drop(columns=['PROSPECTID'], inplace=True)

In [26]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 51336 entries, 0 to 51335
Data columns (total 86 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Total_TL                      51336 non-null  int64
 1   Tot_Closed_TL                 51336 non-null  int64
 2   Tot_Active_TL                 51336 non-null  int64
 3   Total_TL_opened_L6M           51336 non-null  int64
 4   Tot_TL_closed_L6M             51336 non-null  int64
 5   pct_tl_open_L6M               51336 non-null  float64
 6   pct_tl_closed_L6M             51336 non-null  float64
 7   pct_active_tl                 51336 non-null  float64
 8   pct_closed_tl                 51336 non-null  float64
 9   Total_TL_opened_L12M          51336 non-null  int64
 10  Tot_TL_closed_L12M            51336 non-null  int64
 11  pct_tl_open_L12M              51336 non-null  float64
 12  pct_tl_closed_L12M            51336 non-null  float64
 13  Tot_Missed_Pmnt               51336 non-null  int64
 14  Auto_TL                       51336 non-null  int64
 15  CC_TL                         51336 non-null  int64
 16  Consumer_TL                   51336 non-null  int64
 17  Gold_TL                       51336 non-null  int64
 18  Home_TL                       51336 non-null  int64
 19  PL_TL                         51336 non-null  int64
 20  Secured_TL                    51336 non-null  int64
 21  Unsecured_TL                  51336 non-null  int64
 22  Other_TL                      51336 non-null  int64
 23  Age_Oldest_TL                 51336 non-null  int64
 24  Age_Newest_TL                 51336 non-null  int64
 25  time_since_recent_payment     51336 non-null  int64
 26  time_since_first_deliquency   51336 non-null  int64
 27  time_since_recent_deliquency  51336 non-null  int64
 28  num_times_delinquent          51336 non-null  int64
 29  max_delinquency_level         51336 non-null  int64
 30  max_recent_level_of_deliq     51336 non-null  int64
 31  num_deliq_6mts                51336 non-null  int64
 32  num_deliq_12mts               51336 non-null  int64
 33  num_deliq_6_12mts             51336 non-null  int64
 34  max_deliq_6mts                51336 non-null  int64
 35  max_deliq_12mts               51336 non-null  int64
 36  num_times_30p_dpd             51336 non-null  int64
 37  num_times_60p_dpd             51336 non-null  int64
 38  num_std                       51336 non-null  int64
 39  num_std_6mts                  51336 non-null  int64
 40  num_std_12mts                 51336 non-null  int64
 41  num_sub                       51336 non-null  int64
 42  num_sub_6mts                  51336 non-null  int64
 43  num_sub_12mts                 51336 non-null  int64
 44  num_dbt                       51336 non-null  int64
 45  num_dbt_6mts                  51336 non-null  int64
 46  num_dbt_12mts                 51336 non-null  int64
 47  num_lss                       51336 non-null  int64
 48  num_lss_6mts                  51336 non-null  int64
 49  num_lss_12mts                 51336 non-null  int64
 50  recent_level_of_deliq         51336 non-null  int64
 51  tot_enq                       51336 non-null  int64
 52  CC_enq                        51336 non-null  int64
 53  CC_enq_L6m                    51336 non-null  int64
 54  CC_enq_L12m                   51336 non-null  int64
 55  PL_enq                        51336 non-null  int64
 56  PL_enq_L6m                    51336 non-null  int64
 57  PL_enq_L12m                   51336 non-null  int64
 58  time_since_recent_enq         51336 non-null  int64
 59  enq_L12m                      51336 non-null  int64
 60  enq_L6m                       51336 non-null  int64
 61  enq_L3m                       51336 non-null  int64
 62  MARITALSTATUS                 51336 non-null  str
 63  EDUCATION                     51336 non-null  str
 64  AGE                           51336 non-null  int64
 65  GENDER                        51336 non-null  str
 66  NETMONTHLYINCOME              51336 non-null  int64
 67  Time_With_Curr_Empr           51336 non-null  int64
 68  pct_of_active_TLs_ever        51336 non-null  float64
 69  pct_opened_TLs_L6m_of_L12m    51336 non-null  float64
 70  pct_currentBal_all_TL         51336 non-null  float64
 71  CC_utilization                51336 non-null  float64
 72  CC_Flag                       51336 non-null  int64
 73  PL_utilization                51336 non-null  float64
 74  PL_Flag                       51336 non-null  int64
 75  pct_PL_enq_L6m_of_L12m        51336 non-null  float64
 76  pct_CC_enq_L6m_of_L12m        51336 non-null  float64
 77  pct_PL_enq_L6m_of_ever        51336 non-null  float64
 78  pct_CC_enq_L6m_of_ever        51336 non-null  float64
 79  max_unsec_exposure_inPct      51336 non-null  float64
 80  HL_Flag                       51336 non-null  int64
 81  GL_Flag                       51336 non-null  int64
 82  last_prod_enq2                51336 non-null  str
 83  first_prod_enq2               51336 non-null  str
 84  Credit_Score                  51336 non-null  int64
 85  Approved_Flag                 51336 non-null  str
dtypes: float64(16), int64(64), str(6)
memory usage: 33.7 MB

In [8]:
df.head()

,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,Total_TL_opened_L12M,Tot_TL_closed_L12M,pct_tl_open_L12M,pct_tl_closed_L12M,Tot_Missed_Pmnt,Auto_TL,CC_TL,Consumer_TL,Gold_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,Other_TL,Age_Oldest_TL,Age_Newest_TL,time_since_recent_payment,time_since_first_deliquency,time_since_recent_deliquency,num_times_delinquent,max_delinquency_level,max_recent_level_of_deliq,num_deliq_6mts,num_deliq_12mts,num_deliq_6_12mts,max_deliq_6mts,max_deliq_12mts,num_times_30p_dpd,num_times_60p_dpd,num_std,num_std_6mts,num_std_12mts,num_sub,num_sub_6mts,num_sub_12mts,num_dbt,num_dbt_6mts,num_dbt_12mts,num_lss,num_lss_6mts,num_lss_12mts,recent_level_of_deliq,tot_enq,CC_enq,CC_enq_L6m,CC_enq_L12m,PL_enq,PL_enq_L6m,PL_enq_L12m,time_since_recent_enq,enq_L12m,enq_L6m,enq_L3m,MARITALSTATUS,EDUCATION,AGE,GENDER,NETMONTHLYINCOME,Time_With_Curr_Empr,pct_of_active_TLs_ever,pct_opened_TLs_L6m_of_L12m,pct_currentBal_all_TL,CC_utilization,CC_Flag,PL_utilization,PL_Flag,pct_PL_enq_L6m_of_L12m,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,max_unsec_exposure_inPct,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
0,5,4,1,0,0,0.000,0.0,0.200,0.800,0,0,0.00,0.0,0,0,0,0,1,0,4,1,4,0,72,18,549,35,15,11,29,29,0,0,0,-99999,-99999,0,0,21,5,11,0,0,0,0,0,0,0,0,0,29,6,0,0,0,6,0,0,566,0,0,0,Married,12TH,48,M,51000,114,0.200,0.0,0.798,-99999.0,0,0.798,1,0.0,0.0,0.0,0.0,13.333,1,0,PL,PL,696,P2
1,1,0,1,0,0,0.000,0.0,1.000,0.000,1,0,1.00,0.0,0,0,0,1,0,0,0,0,1,0,7,7,47,-99999,-99999,0,-99999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,209,1,0,0,Single,GRADUATE,23,F,19000,50,1.000,0.0,0.370,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,0.860,0,0,ConsumerLoan,ConsumerLoan,685,P2
2,8,0,8,1,0,0.125,0.0,1.000,0.000,2,0,0.25,0.0,1,1,0,6,1,0,0,2,6,0,47,2,302,11,3,9,25,25,1,9,8,25,25,0,0,10,5,10,0,0,0,0,0,0,0,0,0,25,4,0,0,0,0,0,0,587,0,0,0,Married,SSC,40,M,18,191,1.000,0.5,0.585,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,5741.667,1,0,ConsumerLoan,others,693,P2
3,1,0,1,1,0,1.000,0.0,1.000,0.000,1,0,1.00,0.0,1,0,0,0,0,0,0,0,1,1,5,5,-99999,-99999,-99999,0,-99999,0,0,0,0,-99999,-99999,0,0,5,4,5,0,0,0,0,0,0,0,0,0,0,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,Married,SSC,34,M,10000,246,1.000,1.0,0.990,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,9.900,0,0,others,others,673,P2
4,3,2,1,0,0,0.000,0.0,0.333,0.667,0,0,0.00,0.0,0,1,0,0,0,0,0,3,0,2,131,32,583,-99999,-99999,0,-99999,0,0,0,0,-99999,-99999,0,0,53,4,16,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,3951,0,0,0,Married,POST-GRADUATE,48,M,15000,75,0.333,0.0,0.000,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,-99999.000,0,0,AL,AL,753,P1

In [9]:
df.shape

(51336, 86)

# Data Cleaning

In [27]:
# handling duplicates
df.drop_duplicates(inplace=True)

In [28]:
pd.set_option('display.max_rows', None)
print(df.isnull().sum())
print(f"all total: {df.isnull().sum().sum()}")
pd.reset_option('display.max_rows')

Total_TL                        0
Tot_Closed_TL                   0
Tot_Active_TL                   0
Total_TL_opened_L6M             0
Tot_TL_closed_L6M               0
pct_tl_open_L6M                 0
pct_tl_closed_L6M               0
pct_active_tl                   0
pct_closed_tl                   0
Total_TL_opened_L12M            0
Tot_TL_closed_L12M              0
pct_tl_open_L12M                0
pct_tl_closed_L12M              0
Tot_Missed_Pmnt                 0
Auto_TL                         0
CC_TL                           0
Consumer_TL                     0
Gold_TL                         0
Home_TL                         0
PL_TL                           0
Secured_TL                      0
Unsecured_TL                    0
Other_TL                        0
Age_Oldest_TL                   0
Age_Newest_TL                   0
time_since_recent_payment       0
time_since_first_deliquency     0
time_since_recent_deliquency    0
num_times_delinquent            0
max_delinquency_level           0
max_recent_level_of_deliq       0
num_deliq_6mts                  0
num_deliq_12mts                 0
num_deliq_6_12mts               0
max_deliq_6mts                  0
max_deliq_12mts                 0
num_times_30p_dpd               0
num_times_60p_dpd               0
num_std                         0
num_std_6mts                    0
num_std_12mts                   0
num_sub                         0
num_sub_6mts                    0
num_sub_12mts                   0
num_dbt                         0
num_dbt_6mts                    0
num_dbt_12mts                   0
num_lss                         0
num_lss_6mts                    0
num_lss_12mts                   0
recent_level_of_deliq           0
tot_enq                         0
CC_enq                          0
CC_enq_L6m                      0
CC_enq_L12m                     0
PL_enq                          0
PL_enq_L6m                      0
PL_enq_L12m                     0
time_since_recent_enq           0
enq_L12m                        0
enq_L6m                         0
enq_L3m                         0
MARITALSTATUS                   0
EDUCATION                       0
AGE                             0
GENDER                          0
NETMONTHLYINCOME                0
Time_With_Curr_Empr             0
pct_of_active_TLs_ever          0
pct_opened_TLs_L6m_of_L12m      0
pct_currentBal_all_TL           0
CC_utilization                  0
CC_Flag                         0
PL_utilization                  0
PL_Flag                         0
pct_PL_enq_L6m_of_L12m          0
pct_CC_enq_L6m_of_L12m          0
pct_PL_enq_L6m_of_ever          0
pct_CC_enq_L6m_of_ever          0
max_unsec_exposure_inPct        0
HL_Flag                         0
GL_Flag                         0
last_prod_enq2                  0
first_prod_enq2                 0
Credit_Score                    0
Approved_Flag                   0
dtype: int64
all total: 0

In [29]:
# handling null values (dataset considers -99999 as null)
df.replace(-99999, np.nan, inplace=True)

,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,Total_TL_opened_L12M,Tot_TL_closed_L12M,pct_tl_open_L12M,pct_tl_closed_L12M,Tot_Missed_Pmnt,Auto_TL,CC_TL,Consumer_TL,Gold_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,Other_TL,Age_Oldest_TL,Age_Newest_TL,time_since_recent_payment,time_since_first_deliquency,time_since_recent_deliquency,num_times_delinquent,max_delinquency_level,max_recent_level_of_deliq,num_deliq_6mts,num_deliq_12mts,num_deliq_6_12mts,max_deliq_6mts,max_deliq_12mts,num_times_30p_dpd,num_times_60p_dpd,num_std,num_std_6mts,num_std_12mts,num_sub,num_sub_6mts,num_sub_12mts,num_dbt,num_dbt_6mts,num_dbt_12mts,num_lss,num_lss_6mts,num_lss_12mts,recent_level_of_deliq,tot_enq,CC_enq,CC_enq_L6m,CC_enq_L12m,PL_enq,PL_enq_L6m,PL_enq_L12m,time_since_recent_enq,enq_L12m,enq_L6m,enq_L3m,MARITALSTATUS,EDUCATION,AGE,GENDER,NETMONTHLYINCOME,Time_With_Curr_Empr,pct_of_active_TLs_ever,pct_opened_TLs_L6m_of_L12m,pct_currentBal_all_TL,CC_utilization,CC_Flag,PL_utilization,PL_Flag,pct_PL_enq_L6m_of_L12m,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,max_unsec_exposure_inPct,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
0,5,4,1,0,0,0.000,0.00,0.200,0.800,0,0,0.000,0.00,0,0,0,0,1,0,4,1,4,0,72.0,18.0,549.0,35.0,15.0,11,29.0,29,0,0,0,NaN,NaN,0,0,21,5,11,0,0,0,0,0,0,0,0,0,29,6.0,0.0,0.0,0.0,6.0,0.0,0.0,566.0,0.0,0.0,0.0,Married,12TH,48,M,51000,114,0.200,0.0,0.798,NaN,0,0.798,1,0.0,0.0,0.0,0.0,13.333,1,0,PL,PL,696,P2
1,1,0,1,0,0,0.000,0.00,1.000,0.000,1,0,1.000,0.00,0,0,0,1,0,0,0,0,1,0,7.0,7.0,47.0,NaN,NaN,0,NaN,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,209.0,1.0,0.0,0.0,Single,GRADUATE,23,F,19000,50,1.000,0.0,0.370,NaN,0,NaN,0,0.0,0.0,0.0,0.0,0.860,0,0,ConsumerLoan,ConsumerLoan,685,P2
2,8,0,8,1,0,0.125,0.00,1.000,0.000,2,0,0.250,0.00,1,1,0,6,1,0,0,2,6,0,47.0,2.0,302.0,11.0,3.0,9,25.0,25,1,9,8,25.0,25.0,0,0,10,5,10,0,0,0,0,0,0,0,0,0,25,4.0,0.0,0.0,0.0,0.0,0.0,0.0,587.0,0.0,0.0,0.0,Married,SSC,40,M,18,191,1.000,0.5,0.585,NaN,0,NaN,0,0.0,0.0,0.0,0.0,5741.667,1,0,ConsumerLoan,others,693,P2
3,1,0,1,1,0,1.000,0.00,1.000,0.000,1,0,1.000,0.00,1,0,0,0,0,0,0,0,1,1,5.0,5.0,NaN,NaN,NaN,0,NaN,0,0,0,0,NaN,NaN,0,0,5,4,5,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Married,SSC,34,M,10000,246,1.000,1.0,0.990,NaN,0,NaN,0,0.0,0.0,0.0,0.0,9.900,0,0,others,others,673,P2
4,3,2,1,0,0,0.000,0.00,0.333,0.667,0,0,0.000,0.00,0,1,0,0,0,0,0,3,0,2,131.0,32.0,583.0,NaN,NaN,0,NaN,0,0,0,0,NaN,NaN,0,0,53,4,16,0,0,0,0,0,0,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3951.0,0.0,0.0,0.0,Married,POST-GRADUATE,48,M,15000,75,0.333,0.0,0.000,NaN,0,NaN,0,0.0,0.0,0.0,0.0,NaN,0,0,AL,AL,753,P1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51331,3,0,3,1,0,0.333,0.00,1.000,0.000,1,0,0.333,0.00,0,0,0,2,0,0,0,0,3,1,24.0,5.0,15.0,24.0,23.0,2,24.0,24,0,0,0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,24,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,1.0,Married,12TH,43,M,18500,249,1.000,1.0,0.230,NaN,0,NaN,0,0.0,0.0,0.0,0.0,1.661,0,0,ConsumerLoan,ConsumerLoan,650,P4
51332,4,2,2,0,1,0.000,0.25,0.500,0.500,2,1,0.500,0.25,0,2,0,2,0,0,0,2,2,0,74.0,7.0,57.0,NaN,NaN,0,NaN,0,0,0,0,0.0,0.0,0,0,6,4,6,0,0,0,0,0,0,0,0,0,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,203.0,1.0,0.0,0.0,Married,SSC,31,M,25000,186,0.500,0.0,0.660,NaN,0,NaN,0,0.0,0.0,0.0,0.0,0.520,0,0,others,others,702,P1
51333,2,1,1,1,1,0.500,0.50,0.500,0.500,2,1,1.000,0.50,0,0,0,2,0,0,0,0,2,0,9.0,5.0,32.0,NaN,NaN,0,NaN,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6.0,0.0,0.0,0.0,2.0,2.0,2.0,1.0,5.0,4.0,2.0,Married,SSC,28,M,18000,66,0.500,0.5,0.428,NaN,0,NaN,0,1.0,0.0,1.0,0.0,0.567,0,0,ConsumerLoan,others,661,P3
51334,2,1,1,0,0,0.000,0.00,0.500,0.500,1,1,0.500,0.50,0,0,0,2,0,0,0,0,2,0,15.0,8.0,58.0,NaN,NaN,0,NaN,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,242.0,1.0,0.0,0.0,Single,UNDER GRADUATE,25,F,12802,54,0.500,0.0,0.143,NaN,0,NaN,0,0.0,0.0,0.0,0.0,1.202,0,0,ConsumerLoan,others,686,P2
51335,1,0,1,0,0,0.000,0.00,1.000,0.000,0,0,0.000,0.00,0,1,0,0,0,0,0,1,0,0,20.0,20.0,74.0,NaN,NaN,0,NaN,0,0,0,0,NaN,NaN,0,0,18,4,10,0,0,0,0,0,0,0,0,0,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,1.0,1.0,1.0,Married,SSC,25,M,16000,102,1.000,0.0,0.333,NaN,0,NaN,0,0.0,0.0,0.0,0.0,NaN,0,0,others,others,681,P2

In [30]:
pd.set_option('display.max_rows', None)
print(df.isnull().sum())
print(f"all total: {df.isnull().sum().sum()}")
pd.reset_option('display.max_rows')

Total_TL                            0
Tot_Closed_TL                       0
Tot_Active_TL                       0
Total_TL_opened_L6M                 0
Tot_TL_closed_L6M                   0
pct_tl_open_L6M                     0
pct_tl_closed_L6M                   0
pct_active_tl                       0
pct_closed_tl                       0
Total_TL_opened_L12M                0
Tot_TL_closed_L12M                  0
pct_tl_open_L12M                    0
pct_tl_closed_L12M                  0
Tot_Missed_Pmnt                     0
Auto_TL                             0
CC_TL                               0
Consumer_TL                         0
Gold_TL                             0
Home_TL                             0
PL_TL                               0
Secured_TL                          0
Unsecured_TL                        0
Other_TL                            0
Age_Oldest_TL                      40
Age_Newest_TL                      40
time_since_recent_payment        4291
time_since_first_deliquency     35949
time_since_recent_deliquency    35949
num_times_delinquent                0
max_delinquency_level           35949
max_recent_level_of_deliq           0
num_deliq_6mts                      0
num_deliq_12mts                     0
num_deliq_6_12mts                   0
max_deliq_6mts                  12890
max_deliq_12mts                 10832
num_times_30p_dpd                   0
num_times_60p_dpd                   0
num_std                             0
num_std_6mts                        0
num_std_12mts                       0
num_sub                             0
num_sub_6mts                        0
num_sub_12mts                       0
num_dbt                             0
num_dbt_6mts                        0
num_dbt_12mts                       0
num_lss                             0
num_lss_6mts                        0
num_lss_12mts                       0
recent_level_of_deliq               0
tot_enq                          6321
CC_enq                           6321
CC_enq_L6m                       6321
CC_enq_L12m                      6321
PL_enq                           6321
PL_enq_L6m                       6321
PL_enq_L12m                      6321
time_since_recent_enq            6321
enq_L12m                         6321
enq_L6m                          6321
enq_L3m                          6321
MARITALSTATUS                       0
EDUCATION                           0
AGE                                 0
GENDER                              0
NETMONTHLYINCOME                    0
Time_With_Curr_Empr                 0
pct_of_active_TLs_ever              0
pct_opened_TLs_L6m_of_L12m          0
pct_currentBal_all_TL              72
CC_utilization                  47636
CC_Flag                             0
PL_utilization                  44435
PL_Flag                             0
pct_PL_enq_L6m_of_L12m              0
pct_CC_enq_L6m_of_L12m              0
pct_PL_enq_L6m_of_ever              0
pct_CC_enq_L6m_of_ever              0
max_unsec_exposure_inPct        23178
HL_Flag                             0
GL_Flag                             0
last_prod_enq2                      0
first_prod_enq2                     0
Credit_Score                        0
Approved_Flag                       0
dtype: int64
all total: 320792

In [31]:
df.head()

,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,Total_TL_opened_L12M,Tot_TL_closed_L12M,pct_tl_open_L12M,pct_tl_closed_L12M,Tot_Missed_Pmnt,Auto_TL,CC_TL,Consumer_TL,Gold_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,Other_TL,Age_Oldest_TL,Age_Newest_TL,time_since_recent_payment,time_since_first_deliquency,time_since_recent_deliquency,num_times_delinquent,max_delinquency_level,max_recent_level_of_deliq,num_deliq_6mts,num_deliq_12mts,num_deliq_6_12mts,max_deliq_6mts,max_deliq_12mts,num_times_30p_dpd,num_times_60p_dpd,num_std,num_std_6mts,num_std_12mts,num_sub,num_sub_6mts,num_sub_12mts,num_dbt,num_dbt_6mts,num_dbt_12mts,num_lss,num_lss_6mts,num_lss_12mts,recent_level_of_deliq,tot_enq,CC_enq,CC_enq_L6m,CC_enq_L12m,PL_enq,PL_enq_L6m,PL_enq_L12m,time_since_recent_enq,enq_L12m,enq_L6m,enq_L3m,MARITALSTATUS,EDUCATION,AGE,GENDER,NETMONTHLYINCOME,Time_With_Curr_Empr,pct_of_active_TLs_ever,pct_opened_TLs_L6m_of_L12m,pct_currentBal_all_TL,CC_utilization,CC_Flag,PL_utilization,PL_Flag,pct_PL_enq_L6m_of_L12m,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,max_unsec_exposure_inPct,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
0,5,4,1,0,0,0.000,0.0,0.200,0.800,0,0,0.00,0.0,0,0,0,0,1,0,4,1,4,0,72.0,18.0,549.0,35.0,15.0,11,29.0,29,0,0,0,NaN,NaN,0,0,21,5,11,0,0,0,0,0,0,0,0,0,29,6.0,0.0,0.0,0.0,6.0,0.0,0.0,566.0,0.0,0.0,0.0,Married,12TH,48,M,51000,114,0.200,0.0,0.798,NaN,0,0.798,1,0.0,0.0,0.0,0.0,13.333,1,0,PL,PL,696,P2
1,1,0,1,0,0,0.000,0.0,1.000,0.000,1,0,1.00,0.0,0,0,0,1,0,0,0,0,1,0,7.0,7.0,47.0,NaN,NaN,0,NaN,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,209.0,1.0,0.0,0.0,Single,GRADUATE,23,F,19000,50,1.000,0.0,0.370,NaN,0,NaN,0,0.0,0.0,0.0,0.0,0.860,0,0,ConsumerLoan,ConsumerLoan,685,P2
2,8,0,8,1,0,0.125,0.0,1.000,0.000,2,0,0.25,0.0,1,1,0,6,1,0,0,2,6,0,47.0,2.0,302.0,11.0,3.0,9,25.0,25,1,9,8,25.0,25.0,0,0,10,5,10,0,0,0,0,0,0,0,0,0,25,4.0,0.0,0.0,0.0,0.0,0.0,0.0,587.0,0.0,0.0,0.0,Married,SSC,40,M,18,191,1.000,0.5,0.585,NaN,0,NaN,0,0.0,0.0,0.0,0.0,5741.667,1,0,ConsumerLoan,others,693,P2
3,1,0,1,1,0,1.000,0.0,1.000,0.000,1,0,1.00,0.0,1,0,0,0,0,0,0,0,1,1,5.0,5.0,NaN,NaN,NaN,0,NaN,0,0,0,0,NaN,NaN,0,0,5,4,5,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Married,SSC,34,M,10000,246,1.000,1.0,0.990,NaN,0,NaN,0,0.0,0.0,0.0,0.0,9.900,0,0,others,others,673,P2
4,3,2,1,0,0,0.000,0.0,0.333,0.667,0,0,0.00,0.0,0,1,0,0,0,0,0,3,0,2,131.0,32.0,583.0,NaN,NaN,0,NaN,0,0,0,0,NaN,NaN,0,0,53,4,16,0,0,0,0,0,0,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3951.0,0.0,0.0,0.0,Married,POST-GRADUATE,48,M,15000,75,0.333,0.0,0.000,NaN,0,NaN,0,0.0,0.0,0.0,0.0,NaN,0,0,AL,AL,753,P1

In [32]:
target = "Approved_Flag"

cat_cols = [
    "MARITALSTATUS",
    "EDUCATION",
    "GENDER",
    "last_prod_enq2",
    "first_prod_enq2"
]

num_cols = df.drop(columns=cat_cols + [target]).columns

## Handling Missing Values

In [33]:
# for numerical columns, we will fill null values with median
df[num_cols] = df[num_cols].fillna(df[num_cols].median())

In [ ]:
# for categorical columns, we will fill null values with mode
for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

## Target variable conversion

Converting target into usable binary value

In [ ]:
df["Approved_Flag"].value_counts()

In [ ]:
# priority 1, 2 = low risk, safe to approve
# priority 3, 4 = high risk, not safe to approve

df["Approved_Flag_binary"] = df["Approved_Flag"].map({
    "P1": 0,
    "P2": 0,
    "P3": 1,
    "P4": 1
})

# Exploratory Data Analysis (EDA)

## Class Distribution

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

fig, axes = plt.subplots(1, 2, figsize=(14, 5))

# ---- original 4-class distribution ----
class_counts = df["Approved_Flag"].value_counts().sort_index()
colors = ['#2ecc71', '#3498db', '#e67e22', '#e74c3c']

bars = axes[0].bar(class_counts.index, class_counts.values,
                   color=colors, edgecolor='black', linewidth=0.8)
axes[0].set_title("Original Target (Approved_Flag)", fontsize=13, fontweight='bold')
axes[0].set_xlabel("Category")
axes[0].set_ylabel("Count")
total = class_counts.sum()
for bar, count in zip(bars, class_counts.values):
    pct = count / total * 100
    axes[0].text(bar.get_x() + bar.get_width()/2, bar.get_height() + 300,
                 f'{count}\n({pct:.1f}%)', ha='center', fontsize=10)
# ---- binary distribution ----
binary_counts = df["Approved_Flag_binary"].value_counts().sort_index()
labels = ["Low Risk\n(P1 + P2)", "High Risk\n(P3 + P4)"]
bars2 = axes[1].bar(labels, binary_counts.values,
                    color=['#2ecc71','#e74c3c'], edgecolor='black', linewidth=0.8)
axes[1].set_title("Binary Target Distribution", fontsize=13, fontweight='bold')
axes[1].set_xlabel("Risk Category")
axes[1].set_ylabel("Count")
for bar, count in zip(bars2, binary_counts.values):
    pct = count / total * 100
    axes[1].text(bar.get_x() + bar.get_width()/2, bar.get_height() + 300,
                 f'{count}\n({pct:.1f}%)', ha='center', fontsize=10)

plt.tight_layout()
plt.show()

print(f"\nImbalance ratio (Low Risk : High Risk) = {binary_counts[0] / binary_counts[1]:.2f} : 1")

## Correlation Analysis

In [ ]:
# select only numeric columns for correlation
numeric_cols = X.select_dtypes(include=[np.number]).columns
corr_matrix = X[numeric_cols].corr()

# plot a heatmap of the top features most correlated with the target
target_corr = X[numeric_cols].corrwith(y).abs().sort_values(ascending=False)
top_features = target_corr.head(20).index.tolist()

plt.figure(figsize=(14, 10))
sns.heatmap(X[top_features].corr(), annot=True, fmt=".2f",
            cmap="coolwarm", center=0, linewidths=0.5)
plt.title("Correlation Heatmap  Top 20 Features Most Correlated with Target",
          fontsize=14, fontweight='bold')
plt.tight_layout()
plt.show()

# show the top 20 features and their correlation with the binary target
print("\nTop 20 features correlated with Approved_Flag_binary:\n")
print(target_corr.head(20).to_string())

## Key Risk Indicators

In [ ]:
# key risk features to compare across low-risk vs high-risk
risk_features = [
    'Credit_Score', 'num_times_delinquent', 'Tot_Missed_Pmnt',
    'num_deliq_12mts', 'num_std', 'NETMONTHLYINCOME',
    'Tot_Active_TL', 'pct_active_tl', 'AGE'
]

fig, axes = plt.subplots(3, 3, figsize=(16, 12))
axes = axes.flatten()

for i, col in enumerate(risk_features):
    if col in X.columns:
        data_low  = X.loc[y == 0, col].dropna()
        data_high = X.loc[y == 1, col].dropna()
        axes[i].hist(data_low,  bins=30, alpha=0.6, label='Low Risk',  color='#2ecc71')
        axes[i].hist(data_high, bins=30, alpha=0.6, label='High Risk', color='#e74c3c')
        axes[i].set_title(col, fontsize=11, fontweight='bold')
        axes[i].legend(fontsize=8)

plt.suptitle("Distribution of Key Risk Indicators by Risk Category",
             fontsize=15, fontweight='bold', y=1.02)
plt.tight_layout()
plt.show()

# summary statistics
print("\nMean values by risk group:\n")
risk_stats = pd.DataFrame({
    'Low Risk (mean)':  X.loc[y == 0, risk_features].mean(),
    'High Risk (mean)': X.loc[y == 1, risk_features].mean()
})
risk_stats['Difference'] = risk_stats['High Risk (mean)'] - risk_stats['Low Risk (mean)']
print(risk_stats.round(2).to_string())

# Feature Engineering & Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

# Step 1: impute missing values (NaN from -99999 replacement) with the median
imputer = SimpleImputer(strategy='median')
X_train_imputed = pd.DataFrame(imputer.fit_transform(X_train),
                               columns=X_train.columns, index=X_train.index)
X_test_imputed  = pd.DataFrame(imputer.transform(X_test),
                               columns=X_test.columns, index=X_test.index)

# Step 2: standardize features so models converge properly
scaler = StandardScaler()
X_train_scaled = pd.DataFrame(scaler.fit_transform(X_train_imputed),
                               columns=X_train.columns, index=X_train.index)
X_test_scaled  = pd.DataFrame(scaler.transform(X_test_imputed),
                               columns=X_test.columns, index=X_test.index)

print(f"Training set shape: {X_train_scaled.shape}")
print(f"Test set shape:     {X_test_scaled.shape}")
print(f"\nMissing values in training set: {X_train_scaled.isna().sum().sum()}")
print(f"Missing values in test set:     {X_test_scaled.isna().sum().sum()}")

# Getting ready to model

## Encoding Categorical Variables

In [ ]:
df = pd.get_dummies(df, columns=cat_cols, drop_first=True)

In [ ]:
df.head()

## Final Feature Matrix

In [ ]:
X = df.drop(columns=["PROSPECTID", "Approved_Flag", "Approved_Flag_binary"])
y = df["Approved_Flag_binary"]

## Train-Test Split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model 1: Logistic Regression

## Model Training

In [ ]:
from sklearn.linear_model import LogisticRegression

  

lr_model = LogisticRegression(max_iter=1000, random_state=42, class_weight='balanced')

lr_model.fit(X_train_scaled, y_train)


print("Logistic Regression model trained successfully.")

print(f"Training accuracy: {lr_model.score(X_train_scaled, y_train):.4f}")

## Model Evaluation

In [ ]:
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

y_pred_lr = lr_model.predict(X_test_scaled)
y_prob_lr = lr_model.predict_proba(X_test_scaled)[:, 1]

# Confusion Matrix
cm = confusion_matrix(y_test, y_pred_lr)
tn, fp, fn, tp = cm.ravel()

fig, ax = plt.subplots(figsize=(7, 5))
ConfusionMatrixDisplay.from_predictions(
    y_test, y_pred_lr,
    display_labels=["Low Risk", "High Risk"],
    cmap="Blues", ax=ax,
    colorbar=False
)
ax.set_title("Confusion Matrix  Logistic Regression", fontsize=14, fontweight="bold")
plt.tight_layout()
plt.show()

# Interpret the confusion matrix
print("=" * 55)
print("CONFUSION MATRIX INTERPRETATION")
print("=" * 55)
print(f"""
True Negatives  (TN) = {tn:,}   Low Risk correctly predicted as Low Risk
False Positives (FP) = {fp:,}   Low Risk WRONGLY flagged as High Risk
False Negatives (FN) = {fn:,}   High Risk MISSED and predicted as Low Risk
True Positives  (TP) = {tp:,}   High Risk correctly caught

 Precision (High Risk) = {tp/(tp+fp):.1%}  Of all predicted High Risk, this many are actually High Risk
 Recall    (High Risk) = {tp/(tp+fn):.1%}  Of all actual High Risk, this many were caught
 Precision (Low Risk)  = {tn/(tn+fn):.1%}  Of all predicted Low Risk, this many are actually Low Risk
 Recall    (Low Risk)  = {tn/(tn+fp):.1%}  Of all actual Low Risk, this many were correctly identified

Overall Accuracy = {(tp+tn)/(tp+tn+fp+fn):.1%}
""")

print("KEY OBSERVATIONS:")
if fn > fp:
    print(f"    The model misses {fn} High Risk applicants (False Negatives).")
    print(f"      This is dangerous  risky borrowers are slipping through.")
else:
    print(f"    The model wrongly rejects {fp} Low Risk applicants (False Positives).")
    print(f"      This means lost business from good applicants.")
print(f"    The model correctly catches {tp} out of {tp+fn} High Risk applicants.")
print(f"    The model correctly approves {tn} out of {tn+fp} Low Risk applicants.")

## Coefficient Interpretation

In [ ]:
# Top Logistic Regression Coefficients
import pandas as pd

coef_df = pd.DataFrame({
    "Feature": X_train_scaled.columns,
    "Coefficient": lr_model.coef_[0]
}).sort_values("Coefficient")

# Top 10 features pushing toward HIGH RISK (positive coefficients)
top_high_risk = coef_df.tail(10)
# Top 10 features pushing toward LOW RISK (negative coefficients)
top_low_risk  = coef_df.head(10)

fig, axes = plt.subplots(1, 2, figsize=(16, 6))

# Left: Features pushing toward High Risk
axes[0].barh(top_high_risk["Feature"], top_high_risk["Coefficient"],
             color="#e74c3c", edgecolor="black", linewidth=0.5)
axes[0].set_title("Top 10 Features  HIGH RISK", fontsize=13, fontweight="bold")
axes[0].set_xlabel("Coefficient (higher = more risky)")

# Right: Features pushing toward Low Risk
axes[1].barh(top_low_risk["Feature"], top_low_risk["Coefficient"],
             color="#2ecc71", edgecolor="black", linewidth=0.5)
axes[1].set_title("Top 10 Features  LOW RISK", fontsize=13, fontweight="bold")
axes[1].set_xlabel("Coefficient (lower = safer)")

plt.suptitle("Logistic Regression  Coefficient Interpretation",
             fontsize=15, fontweight="bold", y=1.02)
plt.tight_layout()
plt.show()

# Print the values
print("" + "=" * 55)
print("COEFFICIENT INTERPRETATION")
print("=" * 55)
print("Features that INCREASE risk of rejection (positive coef):")
for _, row in top_high_risk.iterrows():
    print(f"  {row["Feature"]:>40s}    {row["Coefficient"]:+.4f}")
print("Features that DECREASE risk (negative coef = safer):")
for _, row in top_low_risk.iterrows():
    print(f"  {row["Feature"]:>40s}    {row["Coefficient"]:+.4f}")

## Model Improvement  Threshold Tuning

In [ ]:
from sklearn.metrics import roc_auc_score, roc_curve, f1_score

# Current model performance at default threshold (0.5)
default_f1 = f1_score(y_test, y_pred_lr)
default_auc = roc_auc_score(y_test, y_prob_lr)

# Find optimal threshold using F1 score
thresholds = np.arange(0.2, 0.8, 0.01)
f1_scores = []
for t in thresholds:
    preds = (y_prob_lr >= t).astype(int)
    f1_scores.append(f1_score(y_test, preds))

best_idx = np.argmax(f1_scores)
best_threshold = thresholds[best_idx]
best_f1 = f1_scores[best_idx]

# Plot F1 vs Threshold
fig, axes = plt.subplots(1, 2, figsize=(15, 5))

axes[0].plot(thresholds, f1_scores, color="#3498db", linewidth=2)
axes[0].axvline(x=0.5, color="gray", linestyle="--", alpha=0.7, label=f"Default (0.5) -> F1={default_f1:.3f}")
axes[0].axvline(x=best_threshold, color="#e74c3c", linestyle="--", linewidth=2,
                label=f"Optimal ({best_threshold:.2f}) -> F1={best_f1:.3f}")
axes[0].set_title("F1 Score vs Decision Threshold", fontsize=13, fontweight="bold")
axes[0].set_xlabel("Threshold")
axes[0].set_ylabel("F1 Score (High Risk)")
axes[0].legend(fontsize=10)
axes[0].grid(alpha=0.3)

# Show improved confusion matrix at optimal threshold
y_pred_tuned = (y_prob_lr >= best_threshold).astype(int)
ConfusionMatrixDisplay.from_predictions(
    y_test, y_pred_tuned,
    display_labels=["Low Risk", "High Risk"],
    cmap="Greens", ax=axes[1], colorbar=False
)
axes[1].set_title(f"Improved CM (threshold={best_threshold:.2f})", fontsize=13, fontweight="bold")
plt.tight_layout()
plt.show()

# Compare before vs after
cm_old = confusion_matrix(y_test, y_pred_lr)
cm_new = confusion_matrix(y_test, y_pred_tuned)
tn_o, fp_o, fn_o, tp_o = cm_old.ravel()
tn_n, fp_n, fn_n, tp_n = cm_new.ravel()

print("=" * 55)
print("MODEL IMPROVEMENT SUMMARY")
print("=" * 55)
header = f'{"Metric":>30s}  {"Before (0.50)":>14s}  {"After":>14s}'
print(f"\n{header}")
print("-" * 62)
print(f'{"F1 Score (High Risk)":>30s}  {default_f1:>14.4f}  {best_f1:>14.4f}')
print(f'{"ROC-AUC":>30s}  {default_auc:>14.4f}  {default_auc:>14.4f}')
print(f'{"False Negatives (missed risk)":>30s}  {fn_o:>14,}  {fn_n:>14,}')
print(f'{"False Positives (wrong reject)":>30s}  {fp_o:>14,}  {fp_n:>14,}')
print(f'{"High Risk Recall":>30s}  {tp_o/(tp_o+fn_o):>14.1%}  {tp_n/(tp_n+fn_n):>14.1%}')
print(f'{"Overall Accuracy":>30s}  {(tp_o+tn_o)/len(y_test):>14.1%}  {(tp_n+tn_n)/len(y_test):>14.1%}')

if fn_n < fn_o:
    print(f"\n Threshold tuning reduced missed High Risk applicants by {fn_o - fn_n}!")
if best_f1 > default_f1:
    print(f"F1 Score improved by {best_f1 - default_f1:.4f}")

# Model 2: Decision Tree

## Model Training

In [ ]:
from sklearn.tree import DecisionTreeClassifier

clf = DecisionTreeClassifier(random_state=42, max_depth=5, criterion="gini")
clf = clf.fit(X_train, y_train)

## Model Evaluation

In [ ]:
predictions = clf.predict(X_test)
predictions

In [ ]:
import random
print(random.choices(clf.predict_proba(X_test), k=100))

In [ ]:
from sklearn.metrics import accuracy_score
print(f"Accuracy Score: {accuracy_score(y_test, predictions)}")

In [ ]:
from sklearn.metrics import precision_score
print(f"Precision Score: {precision_score(y_test, predictions)}")

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, predictions)

tn, fp, fn, tp = cm.ravel()

fig, ax = plt.subplots(figsize=(7, 5))
ConfusionMatrixDisplay.from_predictions(
    y_test, y_pred_lr,
    display_labels=["Low Risk", "High Risk"],
    cmap="Blues", ax=ax,
    colorbar=False
)
ax.set_title("Confusion Matrix  Logistic Regression", fontsize=14, fontweight="bold")
plt.tight_layout()
plt.show()

## Feature Importance

# Model Comparison